nav {
    background-color: #2c3e50;
}

#hero {
    background-color: #1abc9c;
    color: white;
}

#avatar {
    width: 200px;
}

a {
    text-decoration: inherit;
    color: white;
}

#portfolio {
    color: #2c3e50;
}

img {
    width: 300px;
}


/* da raggruppare ad altri selettori */

#about {
    background-color: #1abc9c;
    color: white;
}

#contact {
    color: #2c3e50;
}
